﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
        <h2>Consumir Web Api</h2>
        <p>Use este ejemplo para consumir un servicio web api y guardar su contenido en una base de datos</p>
        @*<p><a class="btn btn-default" onclick="location.href='@Url.Action("SaveWebApiData")'" >Obtener Datos &raquo;</a></p>*@
        <div >
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnStart";
                settings.Text = "Comenzar la migración";
                settings.UseSubmitBehavior = false;
                settings.ClientSideEvents.Click = string.Format("function(s, e) {{ OnButtonClick(s, e, '{0}', '{1}'); }}", Url.Action("Start", "Home", null), Url.Action("Progress", "Home", null));
            }).GetHtml()
            @Html.DevExpress().ProgressBar(settings =>
            {
                settings.Name = "myProgressBar";

                settings.Properties.DisplayMode = ProgressBarDisplayMode.Percentage;

                settings.Width = System.Web.UI.WebControls.Unit.Pixel(300);

                settings.ClientVisible = false;
             }).GetHtml()
        </div>
    </div>
    <div class="col-md-4">
        <h2>Consumo masivo</h2>
        <p>Use este ejemplo para consumir un servicio de manera masiva al rededor de 10,000 registros y almacenarlos en una base de datos</p>
        @*<p><a class="btn btn-default" onclick="location.href='@Url.Action("SaveWebApiData")'" >Obtener Datos &raquo;</a></p>*@
        <div>
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnMassive";
                settings.Text = "Comenzar la migración";
                settings.UseSubmitBehavior = false;
                settings.ClientSideEvents.Click = string.Format("function(s, e) {{ OnButtonClick(s, e, '{0}', '{1}'); }}", Url.Action("StartMassiveInjection", "Home", null), Url.Action("Progress", "Home", null));
            }).GetHtml()
        </div>

    </div>
</div>